body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* button#btn:active {
    animation: fade_up 0.5s ease-out forwards;
} */

/* .anime{
    animation-name: fade_up;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    opacity: 0;
} */

/* @keyframes fade_up{
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
} */